<main>
  <section class="sec1-inner position-relative text-white">
    <img src="assets/images/Home_about.jpg" alt="About" class="inner-page-img img-fluid d-none d-md-block" />
    <img src="assets/images/Home_about_mob.jpg" alt="About" class="inner-page-img img-fluid d-block d-md-none" />
    <div class="inner-page-top">
    <article class="container" fxLayoutAlign="center center">
    
    <div class="form-container">
      <form [formGroup]="loginForm" (submit)="onLogin()">
        <mat-card class="box" >
        
          <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>Login</mat-card-title>
          </mat-card-header>  

          <mat-form-field class="form-field" appearance="outline">
            <mat-label> E-mail
            </mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="loginForm.controls.email!.touched && loginForm.controls.email!.invalid">
              <span *ngIf="loginForm.controls.email.errors!.required">This field is mandatory.</span>
              <span *ngIf="loginForm.controls.email.errors!.pattern">Please enter valid email.</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Password
            </mat-label>
            <input matInput formControlName="password" type="password" required>
            <mat-error *ngIf="loginForm.controls.password!.touched && loginForm.controls.password!.invalid">
              <span *ngIf="loginForm.controls.password.errors!.required">This field is mandatory.</span>
              <span *ngIf="loginForm.controls.password.errors!.minLength">Min 6 Characters.</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>User Type</mat-label>
            <mat-select matNativeControl required [formControl]="roleControl" (selectionChange)="onchange($event.value)"
            (opened)="onopen()" (closed)="onclose()">
              <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
            </mat-select>
            <mat-error *ngIf="roleControl.hasError('required')">
              Please select who you are
            </mat-error>
            <mat-hint>Please select who you are</mat-hint>
          </mat-form-field>
          <mat-card-actions align="end">
            <button mat-stroked-button class = "my-stroked-button" color="primary" [disabled]="!loginForm.valid" type="submit">Log In</button>
          </mat-card-actions>

        </mat-card>
      </form>
    </div>
  
  
</article>
</div>
</section>
</main>