    <main>
      <section class="sec1-inner position-relative text-white"> 
        <img src="assets/images/Home_about.jpg" alt="About" class="inner-page-img img-fluid d-none d-md-block" />
        <img src="assets/images/Home_about_mob.jpg" alt="About" class="inner-page-img img-fluid d-block d-md-none" />
        <div class="inner-page-top">
        <article class="container">
          <div class="row">
            <div class="col-xl-5 col-lg-8 col-12">
              <h1 class="inner-page-top-head">
                <span class="wow fadeInUp" data-wow-delay="0.2s">who we are</span>
                <span class="wow fadeInUp" data-wow-delay="0.6s">About Us</span>
              </h1>
            </div>               
            </div>
        </article>
      </div>
      </section>
      <section class="sec2-inner pt-100" id="sec2">
        <article class="container">
          <div class="row">
            <div class="col-md-4 col-12 mb-md-0 mb-5 wow fadeInLeft" data-wow-delay="0.8s">
              <img src="assets/images/about_2.jpg" alt="Easter Day" class="img-fluid mx-auto d-block" />
            </div>
            <div class="col-md-8 col-12 wow fadeInRight" data-wow-delay="0.8s">
              <h2 class="h2 bold-txt text-primary">Food For All foundation – Working towards sustainable hunger prevention.</h2>
              <p>Food for all foundation works towards sustainable hunger prevention by making use of additional food available with various commercial joints. Every day lot of food goes waste at various hotels, restaurants, hostels and personal functions. We work as a platform that connects these entities with various non-profit organizations like Orphanages, old age homes and NGO’s which serve the needy. Any commercial joint/ person can register with us and donate the extra food they have. This information will then be communicated to NGO’s who are registered with us based on the need. The NGO then can reach out to the donor and collect the food to serve the needy. By reducing the food wastage, we work towards sustainable and better tomorrow.</p>
              <p>We plan to grow in future to include collection and distribution logistics so that we can better coordinate the distribution of food to the needy. </p>
              <p>Please do help, donate and promote us to reduce the hunger around us.</p>
            </div>
          </div>
        </article>
      </section>
      <section class="sec3-inner py-100" id="sec3">
        <article class="container">
          <div class="row">
            <div class="col-sm-6 col-12 mb-5 wow fadeInLeft" data-wow-delay="0.2s"> 
              <div class="inner-cnt-wrapper">
                <p><i class="fa fa-home text-warning" aria-hidden="true"></i></p>
                <h3 class="font-weight-bold text-warning mb-3">Founded in 2021</h3>
                <p class="text-secondary">We started in 2021 looking at the havoc created by the pandemic and the need for sustainable hunger prevention.</p> 
              </div>
            </div> 
            <div class="col-sm-6 col-12 mb-5 wow fadeInLeft" data-wow-delay="0.6s">
              <div class="inner-cnt-wrapper">
                <p><i class="fa fa-users text-warning" aria-hidden="true"></i></p>
                <h3 class="font-weight-bold text-warning mb-3">Our community</h3>
                <p class="text-secondary">We work with donor and organizations around Hyderabad for collection and distribution of food.</p> 
              </div>
            </div>
          </div>
        </article>
      </section>
    </main>
