<main>
    <section class="sec1">
      <img src="assets/images/Home_comp.jpg" alt="Hero Bg" class="d-md-block d-none hero-bg wow fadeInRight" data-wow-delay="0.2s" />
      <img src="assets/images/Home_mob.jpg" alt="Hero Bg" class="d-block d-md-none hero-bg wow fadeInRight" data-wow-delay="0.2s" />
      <article class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-8 col-12">
            <h1 class="h1 wow fadeInUp" data-wow-delay="0.4s">Kindness Kart foundation KK – No food goes waste.</h1>
            <p class="sub-para wow fadeInUp" data-wow-delay="0.6s">If you have extra food in Hyderabad, donate to us. We promise to deliver it to the needy.</p>
            <a href="#sec3" title="Donate Food" class="btn btn-primary cta-hero scrollto-herf wow fadeInUp" data-wow-delay="0.8s">Donate Food</a>
          </div>
        </div>
      </article>
    </section>
    <section class="sec2" id="sec2">
      <article class="container">
        <div class="row">
          <div class="col-md-6 col-12 mb-md-0 mb-5 wow fadeInLeft" data-wow-delay="0.2s">
            <img src="assets/images/Home_2.jpg" alt="Delivery" class="img-fluid" />
          </div>
          <div class="col-md-6 col-12 wow fadeInRight" data-wow-delay="0.4s">
            <h2 class="h2 bold-txt text-primary">Feeding needy in Hyderabad by Kindness Kart</h2>
            <p>We are a non-profit organization working towards sustainable hunger prevention in Hyderabad. Our platform connects food donors with the needy for reducing food wastage and eliminating hunger.</p>
          </div>
          
        </div>
      </article>
    </section>
    <section class="sec3 bg-primary text-white" id="sec3">
      <article class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2 col-12 mb-md-0 mb-5 wow fadeInUp" data-wow-delay="0.2s">
            <h2 class="h2 login-txt"><span>Join with Us</span>Become a member</h2>
            <p>Please join us in this noble initiative to eliminate hunger. Please register with us on mobile app if you are in Hyderabad you wish to donate food. If you are an organization in Hyderabad that requires food for distribution, become a member and we will connect you to the donors.</p>
            <a href = "https://play.google.com/store/apps/details?id=com.nolo">
              <img src="assets/images/gplay-store.png" alt="" class="img-fluid">
            </a>
          </div>             
        </div>
      </article>
    </section>
  </main>
